[submodule "incoder-server"]
	path = incoder-server
	url = git@github.com:gammatauai/incoder-server
[submodule "santacoder-server"]
	path = santacoder-server
	url = https://github.com/gammatauai/santacoder-server
[submodule "santacoder-finetuning"]
	path = santacoder-finetuning
	url = https://github.com/GammaTauAI/santacoder-finetuning
[submodule "evaluator/results"]
	path = evaluator/results
	url = git@github.com:GammaTauAI/opentau-results
[submodule "evaluator/scripts/baseline_usages/tree-sitter-typescript"]
	path = evaluator/scripts/baseline_usages/tree-sitter-typescript
	url = https://github.com/tree-sitter/tree-sitter-typescript
