[submodule "incoder-server"]
	path = incoder-server
	url = git@github.com:gammatauai/incoder-server
[submodule "santacoder-server"]
	path = santacoder-server
	url = https://github.com/gammatauai/santacoder-server
[submodule "evaluator/results"]
	path = evaluator/results
	url = https://github.com/gammatauai/opentau-results
